# Exit Node (Standard OpenVPN) Credentials
OPENVPN_USER='your_username'
OPENVPN_PASSWORD='your_password'

# Local Proxy Security
# Used for HTTP Proxy (Port ?) and Shadowsocks (Port ?)
PROXY_USER='your_username'
PROXY_PASSWORD='your_password'
